@import url(http://fonts.googleapis.com/css?family=Roboto);
	
	#player {
	width: 320px; 									
	height: 210px; 									
	padding: 10px;									
	background-image: url(../img/container.png); 		
	background-color: #303030;						
	background-repeat: no-repeat; 
	background-position: 0px center;			
	position: relative;
	border-radius: 10px;
	border: 3px solid #ccc;
	margin: auto;
	box-shadow:0px 0px 40px rgba(0,0,0,.8) inset;
	
	}
	
	#play{
	height: 100px;  									
	width: 100px;								
	background-image:url(../img/play.png);			
	}
	
	#play:hover{
	height: 100px;									
	width: 100px;									
	background-image:url(../img/playh.png);		
	}
	
	#pause{
	height: 100px;  								
	width: 100px;									
	background-image:url(../img/pausa.png);		
	}
	
	#pause:hover{
	height: 100px;									
	width: 100px;									
	background-image:url(../img/pausah.png);		
	}
	
	#play, #pause {									
	position: absolute;							
	left: 10px;											
	top: 10px;			
	}
	
	#titulo{									
	position:absolute;
	left:125px;
	top:40px;
	}
	#titulo h3{	
	color: #ffffff;								
	padding:2px;
	margin:0px;
	font-family: 'Kaushan Script', cursive;
	font-size:18px;
	}
		
	
    #song {											
	position: absolute;	
	color: #ffffff;						
	left: 5px;
	top: 135px;
    margin:5px;
    width: 317px;
    height: 32px;
    font-family: 'Teko', sans-serif;
    text-transform: capitalize;
    font-size: 26px;
	background-color: #120395;							
	border-radius: 5px 5px 5px 5px;
	border: 2px solid #ccc;
	}
	
	#animation{						
	position:absolute;
	left:110px;
	top:80px;
	}
	
	
    
/* CSS Document */
